body {
    margin: 0;
    padding: 0;
  }
  
  html {
    height: 100%;
  }
  
  .navbar {
    background-color: rgba(255, 255, 255) !important;
    border-radius: 25px;
    margin: 10px;
  }
  
  .navbar-logo {
    height: 50px; /* Atur tinggi gambar sesuai kebutuhan */
    width: auto; /* Pertahankan aspek rasio */
  }
  
  .navbar-nav {
    margin: 0 auto;
  }
  
  .navbar-nav .nav-link {
    color: #000000 !important; /* Ubah ke warna yang lebih kontras, contoh: emas */
    font-weight: bold !important; /* Membuat teks menjadi bold */
    font-size: 1.2em; /* Membuat teks sedikit lebih besar */
    transition: background-color 0.3s ease; /* Menambahkan transisi untuk efek yang lebih halus */
  }
  
  .navbar-nav .nav-link:hover {
    background-color: rgba(128, 128, 128, 0.8) !important; /* Warna latar belakang saat dihover, abu-abu */
    border-radius: 5px; /* Tambahkan border-radius agar terlihat lebih baik */
  }
  
  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0;
    margin-top: -30px;
    padding: 0;
  }
  
  .content-wrapper h1, .content-wrapper h2 {
    font-family: "Teachers", sans-serif;
    color: black;
    margin: 10px 0;
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .content-wrapper h2 {
    font-family: "Teachers", sans-serif;
    color: black;
    margin: 10px 0;
    font-size: 2.5em;
    margin-top: -5px;
  }
  
  .content-wrapper .centered-image {
    max-width: 20%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
  }
  
  .clickable-box {
    width: 40%;
    aspect-ratio: 1;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }
  
  .clickable-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
  }
  
  .clickable-box p {
    position: absolute;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    z-index: 1;
  }
  
  .clickable-box:hover {
    transform: scale(1.1);
  }
  
  .syllables {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .syllable {
    padding: 15px 20px; /* Menambah padding untuk membuat kotak sedikit lebih besar */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold; /* Menambahkan font-weight untuk membuat teks lebih tebal */
    font-size: 1.2em; /* Menambah ukuran font agar lebih terlihat */
  }

  .syllable.dragging {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
  }

  .item {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .item img {
    width: 100px; /* Gambar lebih kecil */
    height: auto;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .clickable-box {
      width: 80%; /* Adjust width for mobile view */
      margin: 10px 0; /* Adjust margin for spacing between boxes */
    }
  }  